<a href="https://colab.research.google.com/github/shanksghub/FootballStats/blob/master/DecisionTrees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Decision Trees and Random Forests in Python

This is the code for the lecture video which goes over tree methods in Python. Reference the video lecture for the full explanation of the code!

I also wrote a [blog post](https://medium.com/@josemarcialportilla/enchanted-random-forest-b08d418cb411#.hh7n1co54) explaining the general logic of decision trees and random forests which you can check out. 

## Import Libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Get the Data

In [0]:
url = 'https://raw.githubusercontent.com/shanksghub/FootballStats/master/FootballStats.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [88]:
df.head()

                        name  position  appearances  ...  red cards  fouls  offsides
0              Sergio Agüero   Forward           23  ...       15.0   18.0       0.0
1            Aymeric Laporte  Defender           27  ...        2.0    0.0       0.0
2              Mohamed Salah   Forward           26  ...        0.0   20.0      21.0
3  Pierre-Emerick Aubameyang   Forward           25  ...        0.0   11.0      17.0
4                 Harry Kane   Forward           22  ...        0.0   23.0       7.0

[5 rows x 21 columns]

## EDA

We'll just check out a simple pairplot for this small dataset.

In [89]:
df.describe()

       appearances      goals      tackles  ...  red cards      fouls   offsides
count    46.000000  46.000000    46.000000  ...  44.000000  42.000000  24.000000
mean     24.521739   5.000000    68.086957  ...   7.136364  11.809524   4.625000
std       2.438024   5.420127   308.964495  ...  10.538061  12.229987   7.654567
min      17.000000   0.000000     0.000000  ...   0.000000   0.000000   0.000000
25%      23.000000   0.000000     7.500000  ...   0.000000   0.250000   0.000000
50%      25.500000   3.000000    23.500000  ...   0.000000   9.000000   1.000000
75%      26.000000   9.750000    34.500000  ...  15.000000  20.750000   5.500000
max      27.000000  17.000000  2115.000000  ...  33.000000  40.000000  28.000000

[8 rows x 19 columns]

In [0]:
df = df.drop(['appearances','hit woordwork','crosses','assists','name','blocks','fouls','goals conceded','headed clearances','clearances','saves','punches','yellow cards','red cards','offsides','clean sheets'],axis=1)

In [92]:
df.describe()

           goals      tackles       passes      shots
count  46.000000    46.000000    45.000000  46.000000
mean    5.000000    68.086957   862.822222  23.695652
std     5.420127   308.964495   409.217007  31.973510
min     0.000000     0.000000     1.000000   0.000000
25%     0.000000     7.500000   633.000000   0.000000
50%     3.000000    23.500000   748.000000   0.500000
75%     9.750000    34.500000  1153.000000  53.500000
max    17.000000  2115.000000  2313.000000  93.000000

In [93]:
>>> df.fillna(0)

      position  goals  tackles  passes  shots
0      Forward     17       16   538.0     84
1     Defender      2       30  2313.0      0
2      Forward     17       13   739.0     87
3      Forward     15       19   518.0     63
4      Forward     14        7   446.0     77
5      Forward     12        9  1273.0     67
6      Forward     12       30   789.0      8
7      Forward     12       22   920.0      3
8      Forward     10       28   551.0     49
9      Forward     10       18   744.0     93
10     Forward      9        7   569.0     30
11     Forward      9       21  1018.0     57
12     Forward      9       22   725.0     81
13     Forward      8       17   529.0     47
14     Forward     10       31   560.0     55
15  Midfielder     11       28  1423.0     79
16     Forward     11       18     5.0     21
17  Midfielder      9       41   663.0     63
18  Goalkeeper      0        0   731.0      0
19  Goalkeeper      0        0   702.0      0
20  Goalkeeper      0        0   748.0      0
21  Goalkeeper      0        0   721.0      0
22  Goalkeeper      0        0   741.0      0
23  Goalkeeper      0        0   791.0      0
24  Goalkeeper      0        0   826.0      0
25  Goalkeeper      0        0   740.0      0
26  Goalkeeper      0        0   666.0      0
27  Goalkeeper      0        0   532.0      0
28    Defender      3       42   753.0      0
29    Defender      4       69   520.0      0
30    Defender      1       31  1222.0      0
31    Defender      3       37  1187.0      0
32    Defender      3       49   958.0      0
33    Defender      1       31  1222.0      0
34    Defender      0       25   770.0      0
35    Defender      3       40   930.0      0
36    Defender      1     2115     1.0      3
37    Defender      0       35     0.0      0
38    Defender      1       33   633.0      1
39    Defender      0       25  1282.0      0
40    Defender      0       37  1153.0      0
41    Defender      2       32   989.0      0
42  Midfielder      1       40  1574.0     10
43  Midfielder      6       19  1352.0     40
44  Midfielder      1       40  1463.0     16
45  Midfielder      3       55  1297.0     56

## Train Test Split

Let's split up the data into a training set and a test set!

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = df.drop('position',axis=1)
y = df['position']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

## Decision Trees

We'll start just by training a single decision tree.

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
dtree = DecisionTreeClassifier()

In [100]:
dtree.fit(X_train,y_train)

ValueError: ignored

## Prediction and Evaluation 

Let's evaluate our decision tree.

In [0]:
predictions = dtree.predict(X_test)

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [0]:
print(classification_report(y_test,predictions))

In [0]:
print(confusion_matrix(y_test,predictions))

## Tree Visualization

Scikit learn actually has some built-in visualization capabilities for decision trees, you won't use this often and it requires you to install the pydot library, but here is an example of what it looks like and the code to execute this:

In [0]:
from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydot 

features = list(df.columns[1:])
features

In [0]:
dot_data = StringIO()  
export_graphviz(dtree, out_file=dot_data,feature_names=features,filled=True,rounded=True)

graph = pydot.graph_from_dot_data(dot_data.getvalue())  
Image(graph[0].create_png())

## Random Forests

Now let's compare the decision tree model to a random forest.

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

In [0]:
rfc_pred = rfc.predict(X_test)

In [0]:
print(confusion_matrix(y_test,rfc_pred))

In [0]:
print(classification_report(y_test,rfc_pred))

# Great Job!