<a href="https://colab.research.google.com/github/shanksghub/FootballStats/blob/master/Error10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [79]:
url = 'https://raw.githubusercontent.com/shanksghub/bitcoin/master/convertcsv.csv'
df = pd.read_csv(url, error_bad_lines=False)
df.head()

           Date          Open  ...       Volume    Market Cap
0  Jul 11, 2019  12139.713838  ...  28595327690  202324174692
1  Jul 10, 2019  12571.537162  ...  33627574244  216515999522
2  Jul 09, 2019  12284.326465  ...  28167921523  223928128583
3  Jul 08, 2019  11446.597155  ...  23482551458  218778355444
4  Jul 07, 2019  11217.615934  ...  19369044277  203881891346

[5 rows x 7 columns]

In [80]:
df.head()

df.loc[:,'Date']

0       Jul 11, 2019
1       Jul 10, 2019
2       Jul 09, 2019
3       Jul 08, 2019
4       Jul 07, 2019
5       Jul 06, 2019
6       Jul 05, 2019
7       Jul 04, 2019
8       Jul 03, 2019
9       Jul 02, 2019
10      Jul 01, 2019
11      Jun 30, 2019
12      Jun 29, 2019
13      Jun 28, 2019
14      Jun 27, 2019
15      Jun 26, 2019
16      Jun 25, 2019
17      Jun 24, 2019
18      Jun 23, 2019
19      Jun 22, 2019
20      Jun 21, 2019
21      Jun 20, 2019
22      Jun 19, 2019
23      Jun 18, 2019
24      Jun 17, 2019
25      Jun 16, 2019
26      Jun 15, 2019
27      Jun 14, 2019
28      Jun 13, 2019
29      Jun 12, 2019
            ...
2232    May 27, 2013
2233    May 26, 2013
2234    May 25, 2013
2235    May 24, 2013
2236    May 23, 2013
2237    May 22, 2013
2238    May 21, 2013
2239    May 20, 2013
2240    May 19, 2013
2241    May 18, 2013
2242    May 17, 2013
2243    May 16, 2013
2244    May 15, 2013
2245    May 14, 2013
2246    May 13, 2013
2247    May 12, 2013
2248    May 11, 2013
2249    May 10, 2013
2250    May 09, 2013
2251    May 08, 2013
2252    May 07, 2013
2253    May 06, 2013
2254    May 05, 2013
2255    May 04, 2013
2256    May 03, 2013
2257    May 02, 2013
2258    May 01, 2013
2259    Apr 30, 2013
2260    Apr 29, 2013
2261    Apr 28, 2013
Name: Date, Length: 2262, dtype: object

In [0]:

from sklearn.preprocessing import LabelEncoder
import numpy as np 
import pandas as pd 
url = 'https://raw.githubusercontent.com/shanksghub/bitcoin/master/convertcsv.csv'
df= pd.read_csv(url) 
x=df['Date']
le= LabelEncoder() 
x= le.fit_transform(x)

In [86]:
y = df['Market Cap']
X = df[['x']]
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

from sklearn.linear_model import LinearRegression

lm = LinearRegression(fit_intercept=False, normalize=True)
lm.fit(X_train,y_train)

KeyError: ignored

In [0]:
print('Coefficients: \n', lm.coef_)

predictions = lm.predict( X_test)

plt.scatter(y_test,predictions)
plt.xlabel('Y Test')
plt.ylabel('Predicted Y')

In [0]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))